<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* Additional Custom Styles */
      @media (min-width: 768px) {
        .sidebar {
          width: 250px;
        }
      }
      .sidebar a {
        transition: background-color 0.3s;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <div class="flex h-screen">
      <!-- Sidebar Menu -->
      <%- include('../partials/sidebar') %>

      <!-- Main Content -->
      <div class="flex-1">
        <div class="p-8"><%- include(content) %></div>
      </div>
    </div>
  </body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  $(document).ready(function () {
    $(".delete-btn").click(function () {
      const deleteId = $(this).data("deleteid");
      Swal.fire({
        title: "Delete Row",
        text: "Are you sure want to delete row with ID " + deleteId + "?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          $("#formDelete" + deleteId).submit();
        }
      });
    });
  });
</script>

<% if (messageType) { %>
<script>
  $(document).ready(function () {
    Swal.fire({
      icon: "<%= messageType %>",
      text: "<%= message %>",
    });
  });
</script>
<% } %>
