<h2 class="text-2xl font-bold mb-4">Welcome, <%= user.user_username %>!</h2>
<p class="mb-6">Here's the dashboard content:</p>
<!-- Users Table -->
<table class="w-full border-collapse border border-gray-300">
  <caption class="caption-top text-left text-gray-400 text-sm">
    REGISTERED USER
  </caption>
  <thead class="bg-gray-200">
    <tr>
      <th class="border border-gray-300 px-4 py-2">ID</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Username</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Fullname</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Created With</th>
      <th class="border border-gray-300 px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% registeredUsers.forEach(data => { %>
    <tr>
      <td class="border border-gray-300 px-4 py-2 text-center">
        <%= data.user_id %>
      </td>
      <td class="border border-gray-300 px-4 py-2">
        <%= data.user_username %>
      </td>
      <td class="border border-gray-300 px-4 py-2">
        <%= data.user_fullname %>
      </td>
      <td class="border border-gray-300 px-4 py-2"><%= data.created_by %></td>
      <td class="border border-gray-300 px-4 py-2 text-center">
        <% if (data.created_by == 'NodeJS' && data.user_id != user.user_id) { %>
        <button
          class="delete-btn bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded text-sm"
          data-deleteid="<%= data.user_id %>"
        >
          Delete
        </button>

        <form
          action="/action/delete/user"
          method="post"
          id="formDelete<%= data.user_id %>"
        >
          <input type="hidden" name="user_id" value="<%= data.user_id %>" />
        </form>
        <% } %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
